@import url("https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Send+Flowers&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-section {
  min-height: 100dvh;
  width: 100%;
  padding: 10px 0px;
}

#navBar {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#dark-mode-toggle {
  padding-right: 10px;
  /* The switch - the box around the slider */
  /* The slider */
}
#dark-mode-toggle .checkbox-wrapper-63 input[type=checkbox] {
  visibility: hidden;
  display: none;
}
#dark-mode-toggle .checkbox-wrapper-63 *,
#dark-mode-toggle .checkbox-wrapper-63 ::after,
#dark-mode-toggle .checkbox-wrapper-63 ::before {
  box-sizing: border-box;
}
#dark-mode-toggle .checkbox-wrapper-63 .switch {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}
#dark-mode-toggle .checkbox-wrapper-63 .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #fffde7;
  transition: 0.4s;
  border-radius: 0.5em;
  box-shadow: 0 0.2em #dfd9d9;
}
#dark-mode-toggle .checkbox-wrapper-63 .slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.4em;
  border-radius: 0.3em;
  left: 0.3em;
  bottom: 0.7em;
  background-color: #fbc02d;
  transition: 0.4s;
  box-shadow: 0 0.4em #bcb4b4;
}
#dark-mode-toggle .checkbox-wrapper-63 .slider:hover::before {
  box-shadow: 0 0.2em #bcb4b4;
  bottom: 0.5em;
}
#dark-mode-toggle .checkbox-wrapper-63 input:checked + .slider::before {
  transform: translateX(2em);
  background: #311b92;
}
#dark-mode-toggle .checkbox-wrapper-63 input:checked + .slider {
  background-color: #5c6bc0;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background: url("https://images.unsplash.com/photo-1605106250963-ffda6d2a4b32?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MjIzMzg0Nzl8&ixlib=rb-4.0.3&q=85") no-repeat fixed center/cover;
  color: white;
}
#home p {
  padding: 2rem;
  font-size: 1.2rem;
  width: 90%;
  background-color: rgba(1, 1, 1, 0.3);
  border-radius: 10px;
}

#features {
  background: linear-gradient(0deg, #5f2d84 18%, #382985 87%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  gap: 2rem;
  padding-bottom: 2rem;
  --features-color: #382985;
  --dark-mode-color: #c5cae9;
}
#features > p:first-child {
  color: white;
  position: relative;
  white-space: nowrap;
  font-family: "Send Flowers", cursive;
  font-size: 2.5rem;
  text-wrap: balance;
  text-align: center;
  padding: 0px 5px;
  max-width: 80%;
}
#features > p:first-child:after {
  /* NO # to color */
  --deco-height: 0.3125em;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(var(--deco-height) * -0.625);
  height: var(--deco-height);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%23C5CAE9' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: auto 100%;
  background-repeat: round;
  background-position: 0em;
}
#features #features-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}
#features #features-container .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding-top: 10px;
}
#features #features-container .card img {
  width: 17rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#features #features-container .card .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
#features #features-container .card .card-body button {
  color: #382985;
  border-color: #382985;
}
#features #features-container .card .card-body button:hover {
  background-color: rgba(56, 41, 133, 0.7);
  color: white !important;
}
#features #features-carousel {
  width: 90%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 20px;
  overflow: hidden;
}
#features #features-carousel .carousel-item > img {
  height: 500px;
  object-fit: cover;
  object-position: center;
}

#pricing {
  background: linear-gradient(0deg, #7986cb 24%, #5f2d84 94%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}
#pricing .card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#pricing .card .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
#pricing .card .card-body button {
  color: #5f2d84;
  border-color: #5f2d84;
}
#pricing .card .card-body button:hover {
  color: white !important;
  background: linear-gradient(0deg, #7986cb 24%, #5f2d84 94%);
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  /* accent color based on background color */
  background-color: #7986cb;
  padding-top: 30px;
}
#contact p {
  text-align: center;
  padding: 0;
  margin: 0;
  -webkit-text-stroke: 0.3px black;
  text-stroke: 0.3px black;
  color: #cbbe79;
}
#contact form {
  width: 80%;
  height: 90%;
  overflow: scroll;
  border: solid #cbbe79 1px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(203, 190, 121, 0.4) 0px 0px 0px 3px;
  background-color: rgba(0, 0, 0, 0.15);
}
#contact form textarea {
  overflow: scroll;
  resize: none;
}
#contact form .required {
  color: #c62828;
}
#contact form .form-control {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#contact form button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  height: 45px;
  background: radial-gradient(circle, #cbbe79 9%, transparent 80%);
  border: none;
  font-size: 1.3rem;
  background-size: 100%;
  background-position: center;
  transition: background-size 0.5s linear, font-size 0.5s ease;
  -moz-transition: background-size 0.5s linear, font-size 0.5s ease;
}
#contact form button:hover {
  background-size: 85%;
  font-size: 1.5rem;
}

#footer > section:first-child a {
  text-decoration: none;
}